.box {
  border: 2px solid black;
    border-radius: 3px;
}

.portlet {
   margin-bottom: 15px;
}

.btn-white {
   border-color: #cccccc;
   color: #333333;
   background-color: #ffffff;
}

.portlet {
   border: 1px solid;
}

.portlet .portlet-heading {
   padding: 0 15px;
}

.portlet .portlet-heading h4 {
   padding: 1px 0;
   font-size: 16px;
}

.portlet .portlet-heading a {
   color: #fff;
}

.portlet .portlet-heading a:hover,
.portlet .portlet-heading a:active,
.portlet .portlet-heading a:focus {
   outline: none;
}

.portlet .portlet-widgets .dropdown-menu a {
   color: #333;
}

.portlet .portlet-widgets ul.dropdown-menu {
   min-width: 0;
}

.portlet .portlet-heading .portlet-title {
   float: right;
}

.portlet .portlet-heading .portlet-title h4 {
   margin: 10px 0;
}

.portlet .portlet-heading .portlet-widgets {
   float: right;
   margin: 8px 0;
}

.portlet .portlet-heading .portlet-widgets .tabbed-portlets {
   display: inline;
}

.portlet .portlet-heading .portlet-widgets .divider {
   margin: 0 5px;
}

.portlet .portlet-body {
   padding: 15px;
   background: #fff;
}

.portlet .portlet-footer {
  padding-top: 3px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 3px;
  background: #222222;

}

.portlet .portlet-footer ul {
   margin: 0;
}

.portlet-green,
.portlet-green>.portlet-heading {
   border-color: #16a085;
}

.portlet-green>.portlet-heading {
   color: #fff;
   background-color: #16a085;
}

.portlet-orange,
.portlet-orange>.portlet-heading {
   border-color: #222222;
}

.portlet-orange>.portlet-heading {
   color: #222222;
   background-color: #222222;
}

.portlet-blue,
.portlet-blue>.portlet-heading {
   border-color: #2980b9;
}

.portlet-blue>.portlet-heading {
   color: #fff;
   background-color: #2980b9;
}

.portlet-red,
.portlet-red>.portlet-heading {
   border-color: #e74c3c;
}

.portlet-red>.portlet-heading {
   color: #fff;
   background-color: #e74c3c;
}

.portlet-purple,
.portlet-purple>.portlet-heading {
   border-color: #8e44ad;
}

.portlet-purple>.portlet-heading {
   color: #fff;
   background-color: #8e44ad;
}

.portlet-default,
.portlet-dark-blue,
.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
   border-color: #34495e;
}

.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
   color: #fff;
   background-color: #34495e;
}

.portlet-basic,
.portlet-basic>.portlet-heading {
   border-color: #333;
}

.portlet-basic>.portlet-heading {
   border-bottom: 1px solid #333;
   color: #333;
   background-color: #fff;
}

@media(min-width:768px) {
   .portlet {
       margin-bottom: 30px;
   }
}

.text-green {
   color: #16a085;
}

.text-orange {
   color: #f39c12;
}

.text-red {
   color: #e74c3c;
}
.form-inline label, input, select {
    margin-left: 5px;
}

.btn-primary {
  margin: 10px;
}

.right-group {
  margin-left: 200px;
}

select {
  min-width: 100px;
}

.text {
  margin-bottom: 0px;
 margin-left: 0px;
}

label {
  color: #ffff;
}
