<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="https://bootswatch.com/3/cosmo/bootstrap.min.css"" crossorigin="anonymous">
     <link rel="stylesheet" href="/static/style.css"
  </head>
  <body>
    <div id="reactEntry2"></div>
  </body>
  <!-- Attach React components -->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
           console.log("User Connected");
        });
        socket.on('message', function() {
           console.log(message);
        });


    </script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>

</html>
